# HW 2 -  Reading and Subsetting Data
ANALYST: Fan Li

DUE DATE: Sep 20, 2020

PURPOSE: 
Using the contents of these files and your Python/pandas/Notebook skills to aggregate data and
answer a serise of questions.

In [1]:
# import libraries
import pandas as pd
# read in data
tax_df=pd.read_csv("15zpnyagi.csv")

In [2]:
tax_df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,36,NY,10001,1,3760,2910,360,400,2250,4690,...,2040,2158,0,0,0,0,750,766,2510,4418
1,36,NY,10001,2,2430,1790,240,330,1370,3270,...,2240,7569,0,0,0,0,510,1187,1810,4285
2,36,NY,10001,3,1930,1520,200,150,1110,2450,...,1910,14770,0,0,0,0,450,1397,1420,3574
3,36,NY,10001,4,1340,1070,160,70,770,1690,...,1330,16902,0,0,0,0,310,1209,980,3268
4,36,NY,10001,5,2480,1790,540,70,1520,3390,...,2470,60809,110,28,40,42,560,3816,1770,7787

In [3]:
tax_df.dtypes

STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 131, dtype: object

In [4]:
tax_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9234 entries, 0 to 9233
Columns: 131 entries, STATEFIPS to A11902
dtypes: int64(130), object(1)
memory usage: 9.2+ MB

Q1.What is the total of “Salaries and wages amount” for all NY tax filers in 2015?
[Answer: 514,823,973]

In [5]:
tax_df['A00200'].sum()

514823973

Q2. What is the total for “Educator expenses amount” in Washingtonville, NY (zip code 10992)?
[Answer: 60]

In [6]:
tax_df[tax_df['zipcode']==10992]['A03220'].sum()

60

Q3. What is the mean number of dependents claimed by all New York tax filers in the adjusted gross 
income range of $50,000 to $75,000? Display your answer using a meaningful print statement 
and a formatted numeric answer

In [2]:
# agi_stub 3 = $50,000 under $75,000
DF_3=tax_df[tax_df['agi_stub']==3]

In [4]:
DF_3['NUMDEP'].mean()

444.87979207277453

In [8]:
OUTPUT=DF_3['NUMDEP'].sum()/DF_3['N1'].sum()
print("The average number of dependents per return in the specified AGI range is {:.2f}".format(OUTPUT))

The average number of dependents per return in the specified AGI range is 0.54

Q4. Create data frames that contain only the following subsets of the original dataset:

a. "df" - columns for zipcode, adjusted gross income category, number of exemptions, 
number of elderly returns, taxable Social Security benefits amount, and income tax 
amount.

In [9]:
df=tax_df[['zipcode','agi_stub','N2','ELDERLY','A02500','A06500']]
# first 10 rows
df.head(10)

   zipcode  agi_stub     N2  ELDERLY  A02500  A06500
0    10001         1   4690      840     377     880
1    10001         2   3270      430    2119    6339
2    10001         3   2450      350    3660   13684
3    10001         4   1690      260    3491   16138
4    10001         5   3390      370    6171   58408
5    10001         6   4220      250    3548  415672
6    10002         1  36580     4520     641    3187
7    10002         2  14590     1210    4210   18221
8    10002         3   7060      640    5900   31172
9    10002         4   3990      380    4720   31540

b. "df2" - the df columns plus the rows for only the lowest AGI category
Display the first 10 rows for the df data frame and the last 8 rows of the df2 data frame.

In [10]:
df2=df[df['agi_stub']==1]
# last 8 rows
df2.tail(8)

      zipcode  agi_stub     N2  ELDERLY  A02500  A06500
9186    14895         1   2460      460     209     385
9192    14897         1    200       30     118      25
9198    14898         1    520       70       0      55
9204    14901         1   4720      460     160     559
9210    14903         1   1760      300     101     355
9216    14904         1   5310      650     249     748
9222    14905         1   1870      360     139     299
9228    99999         1  44410     7060    2959    7543