# HW 2 -  Reading and Subsetting Data
ANALYST: Fan Li

DUE DATE: Sep 17, 2020

PURPOSE: 
Using the contents of these files and your Python/pandas/Notebook skills to 
answer a serise of questions.

In [1]:
# import libraries
import pandas as pd
# read in data
df=pd.read_csv("15zpnyagi.csv")

In [2]:
df

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,36,NY,10001,1,3760,2910,360,400,2250,4690,...,2040,2158,0,0,0,0,750,766,2510,4418
1,36,NY,10001,2,2430,1790,240,330,1370,3270,...,2240,7569,0,0,0,0,510,1187,1810,4285
2,36,NY,10001,3,1930,1520,200,150,1110,2450,...,1910,14770,0,0,0,0,450,1397,1420,3574
3,36,NY,10001,4,1340,1070,160,70,770,1690,...,1330,16902,0,0,0,0,310,1209,980,3268
4,36,NY,10001,5,2480,1790,540,70,1520,3390,...,2470,60809,110,28,40,42,560,3816,1770,7787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9229,36,NY,99999,2,18920,11150,4130,3120,10970,32110,...,16620,48870,0,0,0,0,2930,5238,14940,35634
9230,36,NY,99999,3,11790,6180,3840,1510,7560,21140,...,11390,72714,0,0,0,0,2610,6453,8290,22350
9231,36,NY,99999,4,7460,3130,3530,710,5120,14870,...,7330,75243,0,0,0,0,1670,5238,4920,16047
9232,36,NY,99999,5,10940,3630,6570,560,8200,23870,...,10800,215973,180,49,90,24,3190,17943,6320,29605
9233,36,NY,99999,6,7600,2090,5300,220,6980,18730,...,7590,2495728,3530,28548,5230,110077,3030,89440,2580,280805

Q1.What is the total of “Salaries and wages amount” for all NY tax filers in 2015?
[Answer: 514,823,973]